<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Practica-Final-ADSW</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Resgistro</display-name>
    <servlet-name>Resgistro</servlet-name>
    <servlet-class>Servlets.Resgistro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resgistro</servlet-name>
    <url-pattern>/Resgistro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertarPelicula</display-name>
    <servlet-name>InsertarPelicula</servlet-name>
    <servlet-class>Servlets.InsertarPelicula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertarPelicula</servlet-name>
    <url-pattern>/InsertarPelicula</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarPelicula</display-name>
    <servlet-name>BorrarPelicula</servlet-name>
    <servlet-class>Servlets.BorrarPelicula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarPelicula</servlet-name>
    <url-pattern>/BorrarPelicula</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarPelicula</display-name>
    <servlet-name>ModificarPelicula</servlet-name>
    <servlet-class>Servlets.ModificarPelicula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarPelicula</servlet-name>
    <url-pattern>/ModificarPelicula</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertarSala</display-name>
    <servlet-name>InsertarSala</servlet-name>
    <servlet-class>Servlets.InsertarSala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertarSala</servlet-name>
    <url-pattern>/InsertarSala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarSala</display-name>
    <servlet-name>BorrarSala</servlet-name>
    <servlet-class>Servlets.BorrarSala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarSala</servlet-name>
    <url-pattern>/BorrarSala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarSala</display-name>
    <servlet-name>ModificarSala</servlet-name>
    <servlet-class>Servlets.ModificarSala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarSala</servlet-name>
    <url-pattern>/ModificarSala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertarSesion</display-name>
    <servlet-name>InsertarSesion</servlet-name>
    <servlet-class>Servlets.InsertarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertarSesion</servlet-name>
    <url-pattern>/InsertarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarSesion</display-name>
    <servlet-name>BorrarSesion</servlet-name>
    <servlet-class>Servlets.BorrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarSesion</servlet-name>
    <url-pattern>/BorrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarSesion</display-name>
    <servlet-name>ModificarSesion</servlet-name>
    <servlet-class>Servlets.ModificarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarSesion</servlet-name>
    <url-pattern>/ModificarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservarEntrada</display-name>
    <servlet-name>ReservarEntrada</servlet-name>
    <servlet-class>Servlets.ReservarEntrada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservarEntrada</servlet-name>
    <url-pattern>/ReservarEntrada</url-pattern>
  </servlet-mapping>
</web-app>